// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background: image_url("adventure.jpg") no-repeat;
background-position-y: 24%;
margin: 0px;
background-position-x: 66%;
margin: 0px;
padding: 0px;
background-color: white;
font-family: 'Montserrat', sans-serif;
}
h1 {
  text-shadow: 1px 1px grey;
}
.opaque{
  margin: 20% 0 5% 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 700px;
  padding:20px;
  border-radius: 10px;
}

button{
  width: 20%;
  margin-top: 5%;
}
label{
  margin-left: 5%;
  color: white;
}

form h2 {
  color: white;
}

select{
  width: 70%;
}
.form-control {
    width: 75%;
}

.opaque-event-show{
 margin-top: 5%;
    margin-left: 39.5%;
    background-color: black;
    width: 400px;
    opacity: .7;
    padding: 20px;
    border-radius: 10px;
}
.whtTxt{
 color: white;
  opacity: 1;
}
.go-home{
  width: 100%;
}
a {
  display: block
}
input {
  width: 80%;
  margin-left: 9%;
  color:black;
}
#user_remember_me {
  margin-left: 5%;
  width: 2%;
}
#user_email, #user_password {
  margin-left: 9%;
}
a:hover {
    color: white;
}
label[for=user_remember_me] {
    margin-left: 1%;
}

body{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
