.header{

margin-top: -20px;
padding: 0px;
height: 200px;
text-align:center;
}

.header h1{
  padding: 30px;
  margin: 0px;
}

body{
background: image_url("adventure.jpg") no-repeat;
background-position-y: 24%;
margin: 0px;
background-position-x: 66%;
margin: 0px;
padding: 0px;
background-color: white;
font-family: 'Montserrat', sans-serif;
}

.description{
  margin-top: 20px;
  text-align: center;
}

p{
  margin: 10px;
}

.trip-name{
  font-weight: bold;
}

.tripname{
  text-align:center;
}
.tripcontainer {
float: left;
margin-left: 4%;
}
.tripdetails{
  text-align:center;
}

.navbar-right {
    float: right!important;
    margin-right: 0px;
}
